flexWrap()
  display flex
  display -webkit-flex

columnFlex()
    display flex
    display -webkit-flex
    flex-direction column
inline()
    display inline-block  
rcCenter()
  justify-content center
  align-items center
flex1()
    flex 1
ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis       
flexLeft()
    justify-content flex-start
flexRigth()
    justify-content flex-end